{% extends 'partial/base.html' %}


{% block title %}Bio {{ entry["fullName"] }}{% endblock %}

{% block content %}

	<h3>{{ entry["fullName"] }}</h3>

	<p class="lead">{{ entry["position"] }}</p>
		<img src="{{ entry["bioPicture"].one().getUrl("bio") }}" class="img-fluid rounded-circle img-center" />
		<p>{{ entry["testimony"] }}</p>
		<p>{{ entry["email"] }}</p>
		<p>{{ entry["telephone"] }}</p>
	
{% endblock %}
